In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Wafer_15010_130532.csv")

In [3]:
df.head()

,Unnamed: 0,Sensor-1,Sensor-2,Sensor-3,Sensor-4,Sensor-5,Sensor-6,Sensor-7,Sensor-8,Sensor-9,...,Sensor-581,Sensor-582,Sensor-583,Sensor-584,Sensor-585,Sensor-586,Sensor-587,Sensor-588,Sensor-589,Sensor-590
0,Wafer-800,3002.22,2462.06,2202.1222,1833.3772,1.8005,100,95.8500,0.1242,1.5173,...,NaN,NaN,0.5021,0.0071,0.0024,1.4182,0.0545,0.0184,0.0055,33.7876
1,Wafer-500,3047.28,2186.06,2235.0556,1302.6607,1.6347,100,109.9856,0.1230,1.4619,...,NaN,NaN,0.4998,0.0131,0.0033,2.6229,0.0222,0.0182,0.0060,81.9472
2,Wafer-501,3076.81,2158.75,2208.2334,1517.0152,1.0980,100,110.1900,0.1247,1.4357,...,0.0090,64.2405,0.5016,0.0152,0.0040,3.0319,0.0465,0.0299,0.0090,64.2405
3,Wafer-502,2951.62,2511.92,2253.5111,1397.5060,0.9660,100,109.7611,0.1210,1.5527,...,0.0081,0.0000,0.4953,0.0105,0.0037,2.1266,-0.0012,0.0252,0.0081,0.0000
4,Wafer-503,2930.42,2505.17,2235.0556,1302.6607,1.6347,100,109.9856,0.1230,1.4588,...,NaN,NaN,0.4958,0.0111,0.0033,2.2296,-0.0012,0.0252,0.0081,0.0000

In [4]:
df.shape

(101, 591)

In [5]:
df.dtypes

Unnamed: 0     object
Sensor-1      float64
Sensor-2      float64
Sensor-3      float64
Sensor-4      float64
               ...
Sensor-586    float64
Sensor-587    float64
Sensor-588    float64
Sensor-589    float64
Sensor-590    float64
Length: 591, dtype: object

In [6]:
df.isna().sum()

Unnamed: 0    0
Sensor-1      0
Sensor-2      0
Sensor-3      0
Sensor-4      0
             ..
Sensor-586    0
Sensor-587    0
Sensor-588    0
Sensor-589    0
Sensor-590    0
Length: 591, dtype: int64