# Mysql

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [1]:
import mysql.connector as conn

In [2]:
db = conn.connect(
    host="localhost", #127.0.0.1
    user="root",
    password=""
)

db

In [3]:
try:
    db = conn.connect(
    host="localhost",
    user="root",
    password="")
except Exception as e:
    print(e)

In [3]:
# Create a database
def database_connection(host='localhost', user='root', password='', database=''):
    try:
        db = conn.connect(
            host=host,
            user=user,
            password=password,
            database=database)

        return db
    except Exception as e:
        print(e)

In [4]:
def create_database(db_name):
    try:
        # search the db
        db = database_connection()
        # sql query
        query = "CREATE DATABASE "+db_name
        cursor = db.cursor()
        cursor.execute(query)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [5]:
create_database("employee")

In [6]:
def create_table(db_name, table_name):
    try:
        db = database_connection(host='localhost', user='root', password='', database=db_name)
        # sql query
        query = "CREATE TABLE {}(id integer primary key auto_increment, name varchar(255), dept varchar(255))".format(table_name)
        cursor = db.cursor()
        cursor.execute(query)
        db.commit()
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [10]:
create_table('employee', 'emp_info')

In [8]:
def delete_table(db_name, table_name):
    try:
        db = database_connection(host='localhost', user='root', password='', database=db_name)
        # sql query
        query = "DROP TABLE if exists "+table_name
        cursor = db.cursor()
        cursor.execute(query)
        db.commit()
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [9]:
delete_table('employee', 'emp_info')

In [11]:
def insert_value(db_name, table_name, emp_id, name, dept):
    try:
        db = database_connection(host='localhost', user='root', password='', database=db_name)
        # sql query
        query = "INSERT INTO {}(id, name, dept) VALUES(%s, %s, %s)".format(table_name)
        val = (emp_id, name, dept)
        cursor = db.cursor()
        cursor.execute(query, val)
        db.commit()
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [28]:
delete_table('employee', 'employee')

In [34]:
create_table('employee', 'emp_info')

In [12]:
insert_value('employee', 'emp_info', 1, 'hasan', 'seles')

In [13]:
def fetch_value(db_name, tab_name):
    try:
        db = database_connection(host='localhost', user='root', password='', database=db_name)
        # sql query
        query = "SELECT * FROM "+tab_name
        cursor = db.cursor()
        cursor.execute(query)
        res = cursor.fetchall()
        for i in res:
            print(i)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [14]:
fetch_value('employee', 'emp_info')

(1, 'hasan', 'seles')

In [15]:
def delete_row(db_name, tab_name, emp_id):
    try:
        db = database_connection(host='localhost', user='root', password='', database=db_name)
        # sql query
        query = "DELETE FROM {} WHERE id={}".format(tab_name, emp_id)
        cursor = db.cursor()
        cursor.execute(query)
        db.commit()
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [18]:
delete_row('employee', 'emp_info', 1)

In [21]:
fetch_value('employee', 'emp_info')

(2, 'Jahid hasan', 'IT')

In [20]:
insert_value('employee', 'emp_info', 2, 'Jahid hasan', 'IT')